.order-profile {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #fadaad85;
    margin: 40px 60px;
    padding: 20px;
    border: 2px solid #f3b00570;
    border-radius: 20px;
}

.order-profile img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.order-profile p {
    margin: 0;
}


.account-cantainer {
    margin: 40px;
    padding: 40px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    border-radius: 3px;
}



.name {
    display: flex;
    gap: 10px;
    margin: 30px 0;
}

.account-cantainer input {
    width: 25rem;
    border: 0.5px solid rgba(128, 128, 128, 0.288);
    background-color: #fafafa;
    outline: none;
    padding: 10px;
    border-radius: 3px;
}

.gender {
    display: flex;
    align-items: center;
    gap: 50px;
}

.gender input{
    width: 15px;
}

.gender-male {
    display: flex;
    gap: 5px;
}

.email {
    margin: 30px 0;
}

.number {
    margin-bottom: 60px;
}

.sub-button{
    display: flex;
    justify-content: center;
}

.sub-button button{
    background-color: #fadaad85;
    border: 2px solid #f3b00570;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: x-large;
}

.sub-button button:hover{
    background-color: #f3b0057d;
}

.faqs {
    font-weight: bold;
    margin: 20px 0;
}

.question{
    text-align: justify;
}

.question h6 {
    font-weight: bold;
}


@media (max-width: 986px){
    .name{
        display: grid;
        gap: 25px;
    }
}

@media (max-width: 554px){
    .order-profile {
        margin: 20px 40px;
        padding: 20px;
    }


    .account-cantainer {
        margin: 20px;
        padding: 20px;
        background-color: white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
        border-radius: 3px;
    }


    .account-cantainer input{
        width: 15rem;
    }

    .gender input{
        width: 15px;
    }
}

@media (max-width: 394px){
    .account-cantainer input{
        width: 10rem;
    }

    .gender input{
        width: 15px;
    }
}