.product-card-container {
    margin: 40px;
    margin-top: 40px;
}

.product-card {
    background-color: white;
    padding: 20px;
    width: 100%;
}

.product-card>div {

    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
}

.product {
    background-color: #f1f1f1;
    color: black;
    margin: 10px;
    border-radius: 10px;
    width: 205px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card-img:hover {
    transform: scale(1.08);
}

.card-title {
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-price {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

.card-btn {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 1245px) {
    .product-card>div {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1016px) {

    .product-card>div {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 841px) {
    .product-card-container{
        margin: 20px;
    }

    .product{
        width: 190px;
    }


}

@media (max-width: 700px){
    .product-card-container{
        margin: 20px 0;
    }

    .product-heading{
        margin-left: 15px;
    }

    .product-card{
        padding: 10px;
    }

    .product{
        width: 160px;
    }

}


@media (max-width: 557px){
    .product-card div{
        grid-template-columns: repeat(2, 1fr);
    }

    .product{
        width: 150px;
    }
}

@media (max-width: 380px){
    .product{
        width: 130px;
    }
}