.category-page{
    height: auto;
    margin: 40px;
}

.category-page h1{
    text-align: center;
    text-transform: uppercase;
    
    font-weight: 700;
    font-family: "Cinzel", serif;
}

.not-found-prod{
    display: grid;
    justify-content: center;
    justify-items: center;
    background-color: transparent;
}

.not-found-prod img{
    width: 80%;
    height: 80%;
}

@media (max-width: 749px){
    .category-page{
        margin: 20px;
    }
}

@media (max-width: 602px){
    .category-page{
        margin: 20px 0;
    }
}