.category-page{
    height: 100vh;
    margin: 40px;
    /* background-color: white; */
}

.category-page h1{
    text-align: center;
    text-transform: uppercase;
    margin-top: -18px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: "Cinzel", serif;
}

.not-found-prod{
    display: grid;
    justify-content: center;
    justify-items: center;
    background-color: transparent;
}

.not-found-prod img{
    width: 80%;
    height: 80%;
}