.bag {
    margin: 50px;
    margin-bottom: 80px;
    height: 100vh;
}

.cart-heading {
    margin-bottom: 40px;
}

.cart-heading h2 {
    font-weight: bolder;
}

.empty-cart{
    display: grid;
    justify-content: center; 
    justify-items: center;
    text-align: center;
}

.empty-cart button{
    border-radius: 50px;
    padding: 5px 25px;
    border: 1px solid rgba(65, 61, 61, 0.779);
    background-color: #0091ffb5;
}

.empty-cart button:hover{
    background-color: #0091ffef;
}


.main-bag {
    display: flex;
    gap: 50px;
}

.cart-prod {
    background-color: white;
    border-radius: 20px;
    width: 50rem;
    height: 100%;
    padding: 20px;
    padding-bottom: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

table {
    width: 100%;
}

th {
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

tr {
    gap: 10px;
}

tr:not(:first-child) {
    border-top: 1px solid #ddd;
}

th:not(:first-child) {
    text-align: center;
}

td {
    padding: 10px 0;
}

td:not(:first-child) {
    text-align: center;
}

.prod {
    display: flex;
    align-items: center;
    gap: 10px;
}

.prod img {
    width: 120px;
    height: 150px;
    border-radius: 10%;
}

.prod h5 {
    max-width: 150px;
}

.qty {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qty p {
    margin: 5px;
}

.qty button {
    background-color: white;
    color: #6b6d73;
    border: 1.5px solid #7f8084;
    width: 20px;
    height: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
}

.qty button:hover {
    background-color: #d2e3ef;
}

td span {
    font-weight: bold;
}

.qty button.loading {
    background-color: #d2e3ef;
    cursor: not-allowed;
}

.cart-details-wrapper {
    position: sticky;
    top: 20px;
    align-self: flex-start;
}

.cart-details {
    background-color: white;
    border-radius: 20px;
    width: 20rem;
    height: 100%;
    padding: 2px 0;
}

.cart-details h5 {
    font-weight: bold;
    margin: 0 0 20px 0;
}

.address {
    padding-bottom: 10px;
    border-bottom: 1.5px solid #c5d3de;
    margin: 20px;
}

.address input {
    width: 100%;
    background-color: #eff3f6;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 5px 15px;
    margin: 5px 0;
}

.add {
    display: flex;
    gap: 10px;
}

.add input {
    background-color: white;
    border: 2px solid #beccd6;
    padding: 3px 12px;
}

.cart-total {
    background-color: #ffd28d;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.total {
    display: flex;
    justify-content: space-between;
    font-size: medium;
    font-weight: bold;
}

.apply {
    width: 100%;
    background-color: white;
    border: none;
    color: black;
    border-radius: 50px;
}

.apply:hover {
    background-color: #eff3f6;
}


@media (min-width: 1308px) {

    .main-bag {
        justify-content: center;
    }
}

@media(max-width: 990px) {
    .cart-heading {
        display: grid;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: -10px;
        text-align: center;
    }

    .main-bag {
        display: grid;
        justify-content: center;
        justify-items: center;
    }

    .cart-details-wrapper {
        display: flex;
        justify-content: center;
    }

    .cart-details {
        display: flex;
        width: 60%;
    }

    .cart-total {
        width: 100%;
    }

    .subtotal {
        margin-bottom: 10px;
        font-size: medium;
    }
}

@media (max-width: 823px) {
    .bag{
        height: 80vh;
    }
    .cart-prod {
        width: 40rem;
    }

    .cart-details {
        width: 80%;
    }
}

@media (max-width: 655px) {
    .cart-prod {
        width: 30rem;
    }

    .prod{
        display: grid;
    }
    .prod-img {
        display: grid;
        gap: 5px;
    }

    .prod-img img {
        width: 80px;
        height: 100px;
    }

    .prod-img h5 {
        margin: 0px;
    }

    .cart-details {
        display: grid;
    }

    .cart-total {
        width: auto;
    }
}

@media(max-width: 508px) {
    .cart-prod {
        width: 25rem;
        font-size: small;
        padding: 15px;
        padding-bottom: 0;
    }

    .prod-img img {
        width: 60px;
        height: 80px;
    }

    .prod-img h5 {
        font-size: medium;
    }

    th {
        padding: 5px;
    }
}

@media (max-width: 432px) {
    .cart-prod {
        width: 100%;
    }
}