.category {
    margin: 20px 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
    padding: 20px 30px;
  }
  
  .cate {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .img {
    margin-bottom: 10px; 
    width: 70px; 
    height: 70px;
    object-fit: cover;
  }
  
  .cate-Name {
    font-weight: bold;
    font-family: "Cinzel", serif;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 5px; 
  }
  
  .cate:hover .cate-Name { 
    color: #066cf2;
  }


  @media (max-width: 946px){
 

    .img{
      width: 50px;
      height: 50px;
    }

    .cate-Name{
      font-weight: 600;
      font-size: large;
    }
  }

  @media (max-width: 841px){
    .category{
      margin: 20px;
    }
    .img{
      width: 50px;
      height: 50px;
    }
  }

  @media (max-width: 700px){
    .category{
      margin: 20px 0;
    }
  }

  @media (max-width: 625px) {
    .category {
      flex-direction: row;
      align-items: stretch;
      overflow-y: auto;
      max-height: 80vh; 
      gap: 15px;
    }
  
    .cate {
      margin-bottom: 10px;
    }
  
    .cate:last-child {
      margin-bottom: 0;
    }

    .img{
      width: 50px;
      height: 50px;
    }

    .cate-Name{
      font-weight: 700;
      font-size: medium;
    }
  }