.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  border-radius: 50px;
  background-color: #eff3f6;
}

.search input {
  border: none;
  width: 20rem;
  flex: 1;
  padding: 5px 10px;
  font-size: 1rem;
  outline: none;
  background-color: transparent;
}

.search-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.search-result {
  display: block;
  position: absolute;
  background-color: rgba(229, 231, 235, 0.75);
  width: 100%;
  z-index: 50;
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.search-item {
  padding: 0.5rem;
}

.item-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 3px;
  border-radius: 0.5rem;
}

.item-container:hover {
  background-color: #c8c8c873;
}

.item-img {
  width: 2.5rem;
}

.no-results {
  display: flex;
  justify-content: center;
}

.not-found {
  width: 10rem;
}

@media (max-width: 768px) {
  .search input {
    width: 30rem;
  }
}

@media (max-width: 576px) {
  .search input {
    width: 20rem;
  }
}

@media (max-width: 380px) {
  .search input {
    width: 15rem;
  }
}
